[Unit]
Description=gunicorn daemon for RFMS Backend
After=network.target

[Service]
User=adi
Group=www-data
WorkingDirectory=/home/adi/djp/backend
ExecStart=/home/adi/djp/backend/.venv/bin/gunicorn --access-logfile - --workers 3 --bind 127.0.0.1:8000 rfms.wsgi:application

[Install]
WantedBy=multi-user.target
