/* Palettes: set one on <html data-palette="...">. Each exposes --p1..--p5 */
:root {
  /* fallback in case data-palette is missing */
  --p1: #F2F2F2;
  --p2: #A6A6A6;
  --p3: #404040;
  --p4: #262626;
  --p5: #0D0D0D;
}

/* Feather Step Classic */
[data-palette="feather-step-classic"] {
  --p1: #BEBFBD;
  --p2: #403F38;
  --p3: #737065;
  --p4: #BFBAA8;
  --p5: #F2F2F2;
}

/* Fashion */
[data-palette="fashion"] {
  --p1: #F2F2F2;
  --p2: #8C8C8C;
  --p3: #595959;
  --p4: #262626;
  --p5: #0D0D0D;
}

/* The Cherry Tree */
[data-palette="cherry"] {
  --p1: #517367;
  --p2: #D9C8A9;
  --p3: #59381B;
  --p4: #8C5E4D;
  --p5: #BF988A;
}

/* lgm */
[data-palette="lgm"] {
  --p1: #2F4673;
  --p2: #64758C;
  --p3: #949BA6;
  --p4: #D9D9D9;
  --p5: #0D0D0D;
}

/* HAQQ Brand */
[data-palette="haqq"] {
  --p1: #D9CBBA;
  --p2: #59514D;
  --p3: #8C8480;
  --p4: #F2F2F2;
  --p5: #0D0D0D;
}

/* Axencis */
[data-palette="axencis"] {
  --p1: #2E38F2;
  --p2: #3037BF;
  --p3: #32408C;
  --p4: #B4B9D9;
  --p5: #333640;
}

/* Gantry */
[data-palette="gantry"] {
  --p1: #F2F2F2;
  --p2: #A6A6A6;
  --p3: #404040;
  --p4: #262626;
  --p5: #0D0D0D;
}

/* Lukas Vane */
[data-palette="lukas"] {
  --p1: #293C73;
  --p2: #253259;
  --p3: #8C5E35;
  --p4: #BF9B7A;
  --p5: #D9D8D7;
}

/* ASK-IT Digital agency */
[data-palette="askit"] {
  --p1: #8C8C8C;
  --p2: #595959;
  --p3: #404040;
  --p4: #262626;
  --p5: #0D0D0D;
}

/* SHIPP Logistics */
[data-palette="shipp"] {
  --p1: #D7D7D9;
  --p2: #023059;
  --p3: #4B7BA6;
  --p4: #A69F41;
  --p5: #BFBA75;
}

/* Wemakefab—X */
[data-palette="wemakefab"] {
  --p1: #0D260D;
  --p2: #2D402A;
  --p3: #1C261A;
  --p4: #888C87;
  --p5: #F2F2F2;
}

/* STEREOTYPE. Web Site */
[data-palette="stereotype"] {
  --p1: #1A2E40;
  --p2: #023859;
  --p3: #364C59;
  --p4: #BF947A;
  --p5: #F2CCB6;
}

/* Wild Goats */
[data-palette="wild-goats"] {
  --p1: #030C26;
  --p2: #031740;
  --p3: #01050D;
  --p4: #364959;
  --p5: #70818C;
}

/* Gym Icon Set */
[data-palette="gym"] {
  --p1: #F2E088;
  --p2: #A69A60;
  --p3: #736B43;
  --p4: #403B25;
  --p5: #0D0D0D;
}
